/*================================== NOTHING YOU COULD DO ===*/
@font-face { /*--------------------------------- normal -----*/
  font-family: NothingYouCouldDo;
  font-weight: 400;
  src: url('../../fonts/Nothing_You_Could_Do/NothingYouCouldDo.ttf');
}
